<align=center><color=purple><b>Welcome to an Moxxxi Event,<br> hosted by the Moxxxi Community.</b></color></align>

<b>Rules to follow:</b>

1.Staff members must not be blocked.

2.Keep the environment drama-free. Handle personal issues privately.

3.Be respectful to others. No discrimination, harassment, or bullying.

4.When there’s a DJ, do not play music through your microphone. 

5.For drinking songs, go somewhere remote where others will not be disturbed.

6.Have a good time and drink responsibly!

7. Refrain from talking about politics.(if absolutely needed go into private room)

8.NSFW EVENT ALL TH TIME (don't be weird. be an adult 18+)</align>
